body {
  /* background-image: url(https://uphotoshop.ru/uploads/posts/full-img/psd_template/psd_template-14689.jpg);
  background-repeat: no-repeat;
  background-position: 15% 15%;
  background-size: 900px 700px; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
p {
  margin: 0;
  padding: 0;
}
